body {
    margin: 0;
    height: 100vh;
    background-color: #000;
}

span {
    background: url('img/heart.png');
    width: 100px;   
    height: 100px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}